@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  width: 95%;
  max-width: 980px;
  margin: auto;
}

hr {
  background-color: rgb(231, 229, 229);
  height: 1px;
  border: 0;
  margin-bottom: 1rem;
}

.navbar-container,
.navbar-links {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navbar-links {
  gap: 1.2rem;
}

.navbar-links a {
  padding: 0.25rem;
  text-decoration: none;
  color: black;
  font-weight: 100;
}

.navbar-links a:hover,
.navbar-links a:focus {
  text-decoration: underline;
  color: #ccabd8;
}

.title,
.loading-text,
.error-text {
  color: #ccabd8;
  width: 80%;
  font-size: 2.2rem;
  font-weight: 500;
}

.loading-text,
.error-text {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
}

.blog-preview {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.blog-preview h2 {
  color: #ccabd8;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.content h1, .view-blog {
  padding: 0.5rem;
  margin: 1.8rem;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 10px;
  background-color: #ccabd8;
  color: #fff;
}

.view-blog{
  border: none;
  font-size: 1rem;
  margin: 0;
  margin-top: .5rem;
  margin: 1rem;
}

.view-blog:hover, .view-blog:focus{
  background-color: #b596c0;
}

.view-blog-link{
  color: #fff;
  text-decoration: none;
}

.blog-body{
  margin: 1rem;
}

.blog-body h2, .author-p{
  margin-bottom: 1rem;
  font-weight: 500;
}

.author-p{
  text-decoration: underline;
}

.add-blog{
  display: grid;
  width: 50%;
  margin: auto;
}

.add-blog h2{
  margin: auto;
  margin-bottom: 1rem;
  color: #b596c0;
}

.add-blog label{
  text-align: left;
  display: block;
}

.add-blog input, .add-blog textarea{
  width: 100%;
  height: 18%;
  padding: .25rem;
  border: 1px solid grey;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.add-blog button{
  border: none;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 10px;
  background-color: #ccabd8;
  color: #fff;
  pointer: cursor;
}
